<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" [text]="heading"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Password'"></MyDrawer>
    </StackLayout>
    
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent>
        <ScrollView>
            <StackLayout class="page-styling">
                <TextField class="m-y-30 text-center" [hint]="hint" [text]="pin" editable="false" secure="true"></TextField>
                <GridLayout columns="auto, auto, auto" rows="auto, auto, auto, auto">
                    <Button row="0" col="0" class="btn btn-secondary btn-active" text="1" (tap)="updatePIN(1)"></Button>
                    <Button row="0" col="1" class="btn btn-secondary btn-active" text="2" (tap)="updatePIN(2)"></Button>
                    <Button row="0" col="2" class="btn btn-secondary btn-active" text="3" (tap)="updatePIN(3)"></Button>
                    <Button row="1" col="0" class="btn btn-secondary btn-active" text="4" (tap)="updatePIN(4)"></Button>
                    <Button row="1" col="1" class="btn btn-secondary btn-active" text="5" (tap)="updatePIN(5)"></Button>
                    <Button row="1" col="2" class="btn btn-secondary btn-active" text="6" (tap)="updatePIN(6)"></Button>
                    <Button row="2" col="0" class="btn btn-secondary btn-active" text="7" (tap)="updatePIN(7)"></Button>
                    <Button row="2" col="1" class="btn btn-secondary btn-active" text="8" (tap)="updatePIN(8)"></Button>
                    <Button row="2" col="2" class="btn btn-secondary btn-active" text="9" (tap)="updatePIN(9)"></Button>
                    <Button row="3" col="0" class="btn btn-secondary btn-active" text="X" (tap)="updatePIN('X')"></Button>
                    <Button row="3" col="1" class="btn btn-secondary btn-active" text="0" (tap)="updatePIN(0)"></Button>
                    <Button row="3" col="2" class="btn btn-secondary btn-active" text="DEL" (tap)="updatePIN('DEL')"></Button>
                    <!-- <Label text="Label 1" backgroundColor="red"></Label> -->
                    <!-- <Label text="Label 2" row="0" col="1" colSpan="2" backgroundColor="green"></Label> -->
                </GridLayout>
                <StackLayout class="py-20">
                    <Button class="btn btn-rounded-sm btn-primary btn-active" *ngIf="!screenCode" text="Login" (tap)="login()"></Button>
                    <Button class="btn btn-rounded-sm btn-primary btn-active" *ngIf="screenCode" text="Submit" (tap)="setPin()"></Button>
                </StackLayout>
            </StackLayout>
        </ScrollView>
        <!-- <Label class="page-icon fa" text="&#xf013;"></Label> -->
        <!-- <Label class="page-placeholder" text="Page content goes here"></Label> -->
    </GridLayout>
</RadSideDrawer>